<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, autofocus: true %>  
    <%= f.input :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me %>
  <% end -%>

  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-primary', "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
