<%= simple_form_for @booking, :html => { :class => "form-horizontal booking" } do |f| %>

  <%= f.error_notification %>

  <%= f.association :restaurant %>
  <%= f.input :date %>
  <%= f.input :num_person, in: 1..20 %>
  <%= f.label :discount_id %>
  <%= f.collection_select :discount_id, Discount.all, :id, :amount, hint: "this is a test hint" %>
  <p></p>
  <%= f.association :discount, member: Discount.all %>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :name %>

  <br />
  <br />
  <%= f.error :base %>
  <%= f.button :submit, :class => 'btn btn-primary' %>

<% end %>
