<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @booking.restaurant %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Num person:</strong>
  <%= @booking.num_person %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @booking.discount %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
