<%= simple_form_for @discount, :html => { :class => "form-horizontal discount" } do |f| %>

    <% if @discount.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @discount.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  <%= f.input :start_time %>
  <%= f.input :amount %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            discounts_path, :class => 'btn btn-default' %>

<% end %>
